<!Doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>华中科技大学外国语学院</title>
<link href="http://139.129.50.63:5000/static/css/index.css" rel="stylesheet" type="text/css">
</head >
<body>
    <div class="bg" >
        <div class="head">
            <img src="../static/image/logo.gif"/>
            <div class="head_right">
                <div class="headmenu">
                    <a href="" class="menu">设为首页</a>
                    <font color="#333">&nbsp;&nbsp;|&nbsp;&nbsp;</font>
                    <a href="" class="menu">加入收藏</a>
                    <font color="#333">&nbsp;&nbsp;|&nbsp;&nbsp;</font>
                    <a href="" class="menu">登陆</a>
                    <font color="#333">&nbsp;&nbsp;|&nbsp;&nbsp;</font>
                    <a href="" class="menu">中文</a>
                    <font color="#333">&nbsp;&nbsp;|&nbsp;&nbsp;</font>
                    <a href="" class="menu">English</a>
                    <font color="#333">&nbsp;&nbsp;&nbsp;&nbsp;</font>
                </div>
                <div class="search">
                    <img src="../static/image/wenhao.png" style="margin-top:3px;float:left;"/>
                    <form>
                        <input id="search" type="text"  style="float:left;border:0;margin-top:3px;width:200px;color:gray;" value="请输入搜索内容" onfocus="search_1();" onblur="search_2();">
                        <input type="button" class="button" value="搜索" >
                    </form>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';" onmouseout="this.style.background='#5A5F69';" >首页</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';f1();f3(this);f4(this);" onmouseout="this.style.background='#5A5F69';setTimeout('f2()',5);">学院概况</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';f1();f3(this);f4(this);" onmouseout="this.style.background='#5A5F69';setTimeout('f2()',5);">党建工作</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';f1();f3(this);f4(this);" onmouseout="this.style.background='#5A5F69';setTimeout('f2()',5);">本科教学</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';f1();f3(this);f4(this);" onmouseout="this.style.background='#5A5F69';setTimeout('f2()',5);">研究生教学</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';f1();f3(this);f4(this);" onmouseout="this.style.background='#5A5F69';setTimeout('f2()',5);">师资队伍</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';f1();f3(this);f4(this);" onmouseout="this.style.background='#5A5F69';setTimeout('f2()',5);">科研外事</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';f1();f3(this);f4(this);" onmouseout="this.style.background='#5A5F69';setTimeout('f2()',5);">学生工作</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';" onmouseout="this.style.background='#5A5F69';">考试中心</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';" onmouseout="this.style.background='#5A5F69';">校友之家</div>
            <div class="nav_1" onclick="window.location.href='' " onmouseover="this.style.background='#807E80';" onmouseout="this.style.background='#5A5F69';">工会工作</div>

        </div>
        <div class="nav_2" id="nav_2" onmouseover="ff();" onmousemove=" "; onmouseleave="fff=false;f2();targeT.style.background='#5A5F69';document.getElementById('nav_2').innerHTML ='';">
        </div>
        <div class="imgcore">
            <div id="img1">
            <div id="img11" style="display:block;width:100%;"><img id="lb1" src="../static/image/1.jpg"  /></div>
            <div id="img12" style="display:none;width:100%;"><img id="lb" src="../static/image/2.jpg"  /></div>
	    </div>

        </div>
        <div class="department">
            <ul style="width: 100%;margin:0; padding:0;">
                <li><a href="">英语系</a></li>
                <li><a href="">翻译系</a></li>
                <li><a href="">日语系</a></li>
                <li><a href="">德语系</a></li>
                <li><a href="">法语系</a></li>
                <li><a href="">大学外语系</a></li>
                <li><a href="">韩国语中心</a></li>
                <li><a href="">研究中心</a></li>
            </ul>
        </div>
        <div class="windowOne">
            <div style="height:266px;width: 350px;position: relative;top: 6px;left:6px;float: left;"> <img src="../static/image/1 (6).jpg" style="height:100%;width: 100%;"></div>
            <div class="textOne">
                <div class="xyxw">
                    <div style="height: 35px;width:90px;line-height: 35px;font-size: 16px;color:red;border-bottom: 2px solid pink;">&nbsp;&nbsp;&nbsp;考试中心</div>
                </div>
                <div id="newf" >
                    <div>&nbsp;&nbsp;<a href=" " >[学工动态]习近平总书记来访我院</a></div>
                    <div>&nbsp;&nbsp;<a href=" " >[教学通知]李克强总理来访</a></div>
                    <div>&nbsp;&nbsp;<a href=" " >[教学通知]奥巴马总统来访</a></div>
                    <div>&nbsp;&nbsp;<a href=" " >[行政]普京总统来访</a></div>
                    <div>&nbsp;&nbsp;<a href=" " >[学工动态]关于做好2016年寒假期间本科生安全稳定</a></div>
                    <div>&nbsp;&nbsp;<a href=" " >[行政]暑假六月份开始</a></div>
                    <div>&nbsp;&nbsp;<a href=" " >[行政]寒假延长至五月份</a></div>
                </div>


            </div>
        </div>
        <img src="../static/image/rad.jpg"  class="radd" />
        <div class="windowTwo">
            <div style="width:100%;height:35px;background-color: gray;margin:0 auto;color: white;line-height: 35px;text-align: center;border-bottom: 1px white solid;" id='kcjst' onclick="kcjs();" >课程建设</div>
            <div id='kcjs' >
                <ul>
                    <li>大学英语</li>
                    <li>英汉互译</li>
                </ul>
            </div>
            <div style="width:100%;height:35px;background-color: gray;margin:0 auto;color: white;line-height: 35px;text-align: center;border-bottom: 1px white solid;" onclick="rcpy();">人才培养</div>
            <div id='rcpy'>
                <ul>
                    <li>名师风采</li>
                    <li>优秀学子</li>
                </ul>
            </div>
            <div style="width:100%;height:35px;background-color: gray;margin:0 auto;color: white;line-height: 35px;text-align: center;" onclick="cgzs();">成果展示</div>
            <div id='cgzs'>
                <ul>
                    <li>毕业设计</li>
                    <li>科研论文</li>
                </ul>
            </div>



        </div>
        <div class="ulTwo" id="ulTwo">
            <ul id="fuck" style="width: 100%;margin:0; padding:0;margin-left: 15px;color:black;">
                <li id="qaz1" style="color: red;" onclick="changecolor(this);news2();">最新通知</li>
                <li id="qaz2"onclick="changecolor(this);news1();">行政</li>
                <li id="qaz3" onclick="changecolor(this);">党建</li>
                <li id="qaz4" onclick="changecolor(this);">本科</li>
                <li id="qaz5" onclick="changecolor(this);">研究生</li>
                <li id="qaz6" onclick="changecolor(this);">科研外事</li>
                <li id="qaz7" onclick="changecolor(this);">学工</li>
                <li id="qaz8" onclick="changecolor(this);">公会</li>

            </ul>
        </div>
        <div id="newone" >
            <div>▲2016-1-21&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[学工动态]关于做好2016年寒假期间本科生安全稳定工作的通知</a></div>
            <div>▲2016-1-20&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[教学通知]关于开展2015～2016学年度第二学期期初教学检查的通知</a></div>
            <div>▲2016-1-19&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[教学通知]关于主校区本科生补选2015～2016学年度第二学期体育课的通知</a></div>
            <div>▲2016-1-18&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[行政]转发《关于试运行校史馆北停车场及相关交通管理方案的通知》</a></div>
            <div>▲2016-1-17&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[学工动态]关于做好2016年寒假期间本科生安全稳定工作的通知</a></div>
            <div>▲2016-1-16&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[行政]中共党员发展对象公示</a></div>
            <div>▲2016-1-15&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[行政]关于寒假教职工轮休的通知</a></div>
        </div>




        <div id="newtwo" >
            <div>▲2016-2-21&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[学工动态]习近平总书记来访我院</a></div>
            <div>▲2016-2-20&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[教学通知]李克强总理来访</a></div>
            <div>▲2016-2-19&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[教学通知]奥巴马总统来访</a></div>
            <div>▲2016-2-18&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[行政]普京总统来访</a></div>
            <div>▲2016-2-17&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[学工动态]关于做好2016年寒假期间本科生安全稳定工作的通知</a></div>
            <div>▲2016-2-16&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[行政]暑假六月份开始</a></div>
            <div>▲2016-2-15&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[行政]寒假延长至五月份</a></div>
        </div>
        <div class="kszx">
            <div style="height: 35px;width:80px;line-height: 35px;font-size: 16px;color:red;border-bottom: 2px solid pink;">&nbsp;&nbsp;考试中心</div>
        </div>
        <div id="newth" >
            <div>▲2016-2-21&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[学工动态]习近平总书记来访我院</a></div>
            <div>▲2016-2-20&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[教学通知]李克强总理来访</a></div>
            <div>▲2016-2-19&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[教学通知]奥巴马总统来访</a></div>
            <div>▲2016-2-18&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[行政]普京总统来访</a></div>
            <div>▲2016-2-17&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[学工动态]关于做好2016年寒假期间本科生安全稳定工作的通知</a></div>
            <div>▲2016-2-16&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[行政]暑假六月份开始</a></div>
            <div>▲2016-2-15&nbsp&nbsp&nbsp&nbsp&nbsp<a href=" " >[行政]寒假延长至五月份</a></div>
        </div>
        <img src="../static/image/tl.png" style="margin-left: 20px;margin-top: 20px;">
        <select>
            <option value ="volvo">常用链接</option>
            <option value ="saab">百度一下</option>

        </select>


        <div class="msfc">
            <div style="height: 35px;width:80px;line-height: 35px;font-size: 16px;color:red;border-bottom: 2px solid pink;">&nbsp;&nbsp;名师风采</div>
        </div>
        <div class="coreimgtwo">
            <div class="zuo" onclick="goleft();">○</div>
            <div class="you" onclick="goright();">○</div>
            <div class="rwl">
                <img id="tc" src="../static/image/tc.jpg" style="top:30px;left:0px;" />
            </div>
        </div>
        <img src="../static/image/cp.png" style="margin:0 auto;" />


    </div>
    <script type="text/javascript" src="http://139.129.50.63:5000/static/js/index.js"></script>
    <script type="text/javascript" src="http://139.129.50.63:5000/static/js/lib/jquery-2.0.3.js"></script>
</body>
</html>
